Source: nfstream
Section: net
Priority: optional
Maintainer: Cyril Brulebois <cyril@debamax.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 python3-all,
 python3-setuptools,
 python3-wheel,
 quilt,
# gathered from vendorized libraries:
 autoconf,
 automake,
 bison,
 flex,
 gettext,
 git,
 libgpg-error-dev,
 libjson-c-dev,
 libtool,
 pkg-config,
# requirements.txt:
 python3-cffi (>= 1.14.5),
 python3-dpkt (>= 1.9.2),
 python3-pandas (>= 1.1.5),
 python3-psutil (>= 5.8.0),
Standards-Version: 4.5.1
Homepage: https://www.nfstream.org/
Vcs-Browser: https://github.com/PiRogueToolSuite/deb-nfstream
Vcs-Git: https://github.com/PiRogueToolSuite/deb-nfstream.git
Rules-Requires-Root: no

Package: python3-nfstream
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ${python3:Depends},
# requirements.txt:
 python3-cffi (>= 1.14.5),
 python3-dpkt (>= 1.9.2),
 python3-pandas (>= 1.1.5),
 python3-psutil (>= 5.8.0),
Description: flexible network data analysis framework
 NFStream is a multiplatform Python framework providing fast, flexible,
 and expressive data structures designed to make working with online or
 offline network data both easy and intuitive. It aims to be the
 fundamental high-level building block for doing practical, real world
 network data analysis in Python. Additionally, it has the broader goal
 of becoming a common network data analytics framework for researchers
 providing data reproducibility across experiments.
